.form-container {
  width: 600px;
  box-sizing: border-box;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.input-group {
  margin: 20px;
}

.form-title {
  font-size: 35px;
  color: #2a414f;
  font-weight: 400px;
}
.input-group label {
  display: block;
  margin-left: 5px;
}
.input-group input {
  height: 55px;
  width: 415px;
  border-radius: 5px;
  font-size: 24px;
}
.form-submit {
  height: 55px;
  width: 425px;
  background-color: #ff99004d;
  border-radius: 5px;
  border: none;
  margin-left: 18px;
  font-size: 24px;
  cursor: pointer;
}
.form-submit:hover {
  background-color: #ff990075;
}
.form-link {
  color: #ff9900;
}
